<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/../web/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/../web/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/../web/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <h2>Add a Contact:</h2>

                  <form id="new-contact" action="/create_contact" method="post">
                    <div class="form-group">
                      <label for="first-name">First Name</label>
                      <input type="text"  name="first-name" class="form-control" id="first-name" required>
                    </div>
                    <div class="form-group">
                      <label for="last-name">Last Name</label>
                      <input type="text" name="last-name" class="form-control" id="last-name" required>
                    </div>
                    <div id="new-addresses">
                      <div class="new-address">
                        <div class="form-group">
                          <label for="new-street">Street</label>
                          <input type="text" name="new-street"class="form-control new-street" required>
                        </div>
                        <div class="form-group">
                          <label for="new-city">City</label>
                          <input type="text" name="new-city"class="form-control new-city" required>
                        </div>
                        <div class="form-group">
                          <label for="new-state">State</label>
                          <input type="text" name="new-state" class="form-control new-state" required>
                        </div>
                        <div class="form-group">
                          <label for="new-phone">Phone Number</label>
                          <input type="tel" name="new-phone" class="form-control new-phone">
                        </div>
                        <div class="form-group">
                          <label for="new-email">Phone Number</label>
                          <input type="email" name="new-email" class="form-control new-phone">
                        </div>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-default">Add</button>
                  </form>

    </body>
</html>
